* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}

header {
  text-align: center;
  background-color: #404041;
  padding: 15px;
}

h1 {
  color: #DD1972
}

h2 {
  color: #FFF
}

.content {
  width: 100%;
  display: flex;
}

.left-side {
  background-color: #F7F7F7;
  width: 50%;
  padding: 10px;
}

header,
.button-update,
.submit-guess,
.reset-game,
.clear-game,
.right-side {
    text-transform: uppercase;
}

.range-box{
  display: flex;
  justify-content: space-between;
}

.button{
  display: flex;
  align-items: flex-end;
}

.card{
  padding:15px;
  border: 2px solid grey;
  margin: 15px;
}

input{

    height: 30px;
    font-size: 20px;
}

button{
  font-size: 20px;
  border-radius: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:grey;
  color:#ffff;
}

button:hover{
  background-color: #DD1972;
}

button:disabled {
    background-color:#CCC;
}

.player-name-input{
      display: flex;
    flex-direction: column;
}

.player-one{
      display: flex;
    justify-content: space-between;
}

.buttons{
  display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.score-box-main{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.score-box-main h1{
      font-size: 80px;
}

.score h3{
  text-align: center;
}

.score p{
  text-align: center;
}

.score h1{
  text-align:center;
}

.right-side{
  width:47%;
}

.result-count{
  display: flex;
  justify-content: space-between;
}

.player-names h1{
  text-align: center;
  color:grey;

}

.winner-name{
  display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
}

.winner-name h1{
  text-align: center;
  font-size: 40px;
  color:grey;
}

.winner{
  text-align: center;
}

.right-side{
  padding:10px;
}

svg{
  width: 18px;
  margin-right: 10px;
}

.error-img{
  display: flex;

}



@media only screen and (max-width: 1250px) {
  /*.right-side{
    display: none;
  }*/
  .range-box{
    display: flex;
    flex-direction: column;
  }
  .min-range-input{
    width:100%;
  }
  .max-range-input{
    width:100%;
  }
  .update-button{
    width:50%;
    margin-top: 10px;
  }
  .player-one{
    display: flex;
    flex-direction: column;
  }
  .player-one-guess{
    width:100%;
  }
  .player-two-guess{
    width:100%;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    margin-top:15px;
  }


  button{
    margin-top:10px;
    padding:10px;
  }

  .content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  }

  .score-box-main{
    display: flex;
    flex-direction: column;
  }
  
}




























