* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}

header {
  text-align: center;
  background-color: #404041;
  padding: 15px;
}

h1 {
  color: #DD1972
}

h2 {
  color: #FFF
}

.content {
  width: 100%;
  display: flex;
}

.left-side {
  background-color: #F7F7F7;
  width: 50%;
}

header,
.button-update,
.submit-guess,
.reset-game,
.clear-game,
.right-side {
    text-transform: uppercase;
}

.range-box{
  display: flex;
  justify-content: space-between;
}

.button{
  display: flex;
  align-items: flex-end;
}

.card1{
  padding:15px;
}

input{

    height: 30px;
    font-size: 20px;
}

button{
  font-size: 20px;
    border-radius: 50px;
    padding-right: 30px;
    padding-left: 30px;
}






















